<h1>People#index</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">tipo de documento</th>
      <th scope="col">identificacion</th>
      <th scope="col">primer nombre</th>
      <th scope="col">segundo nombre</th>
      <th scope="col">primer apellido</th>
      <th scope="col">segundo apellido</th>
      <th scope="col">rol</th>
    </tr>
  </thead>
  <tbody>
    <%= render @people%>

  </tbody>
</table>
